


@model  List<WEBvize.Models.Movie>
<div style="padding-bottom:2vh"></div>


<h2>@ViewBag.katid Kategorisi</h2>

<div class="row">
    @foreach (var item in Model)
    {


        <!--COL-3-->
        <div class="col-md-3">

            <div style="padding-bottom:2vh"></div>

            <!--CARD-->
            <div class="card ">

                <!--CARD-BODY-->
                <div class="card-body">

                    <h4 class="card-title justify-content-between" style="min-height:14vh">@item.Name  </h4>
                    <hr class="bg-info" style="min-height:1px;max-height:1px;" />

                    <p class="card-text justify-content-between" style="min-height:16vh">@item.Description</p>
                    <h6 class="float-lg-right">@item.Year</h6>
                    <br />

                    <div class="float-sm-right">
                        <div class="card-footer- bg-white">@item.category.Name</div>
                        <hr class="bg-danger" />
                        @Html.ActionLink("Detay", "FilmDetay", "Home", new { id = item.id }, new { @class = "btn btn-outline-success" })
                        @Html.ActionLink("Güncelle", "FilmGuncelle", "Home", new { id = item.id, category = item.category }, new { @class = "btn btn-outline-info" })
                        @Html.ActionLink("Sil", "FilmSil", "Home", new { id = item.id }, new { @class = "btn btn-outline-danger" })

                        <h6 class="card-subtitle" style="padding-top:15px">@item.Headliner </h6>

                    </div>
                    <br />







                </div>
                <!--CARD-BODY-->



            </div>
            <!--CARD-->

            <div style="padding-bottom:2vh"></div>

        </div>
        <!--COL-3-->

        <div class="col-md-1"> </div>



    }

</div>





